.main-contacto{

   

    iframe{
        @media screen and (min-width:610px) {
            width:60%; height:250px
        }
       
        @media screen and (max-width:609px) {
         width: 95%; height: 249px;   
        }
    }


    .gallery{
       
        @media screen and (max-width:750px) {
            
        
        justify-content: center;
        }

       .grid-item{

     padding: 5px 0px 4px 15px;

       }
    }

    
}