/* html gral */

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}


/* index */

/* background oscuro */

.background-oscuro{
    background-color: #545870;
}

/* letras claras */

.texto-claro{
    color: #f2e9e4;
}

.texto-oscuro{
    color:  #22223b
}

a{
  text-decoration: none;  
}

@media screen and (width>457px) {
    .main-section{
        padding: 5rem 3rem 3rem 6rem;
        
    }

}

.index-title{
    font-size: 300%;
}

@media screen and (max-width:457px) {
.index-title{
    font-size: 200%;

}
}


footer {
    background-color: #6b6d82; color: #f2e9e4;
}


.iconos{
    color: #f2e9e4;
}

.texto-rosado{
    color: #c9ada7;
}

.small-image{
    width: 330px ; height:215px
}

.extra-padding{
   padding:7%;
}